# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Logs
*.log

# Local env
.env
